{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Коворкинг центр{% endblock %}</title>
		{% bootstrap_css %}
		<link rel="stylesheet" type="text/css"
		href="{% static 'main/style.css' %}">
		<script src="{% static 'JS/Scrypt.js' %}"></script>
		{% bootstrap_javascript jquery='slim' %}
	</head>
	<body class="container-fluid p-0" >
		<header class="navbar navbar-expand-lg bg-dark"> 

			<button class="navbar-toggler menu-bat" type="radio" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" >
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link left_but" href="/">Главная </a>
					</li>
					<li class="nav-item">
						<a class="nav-link left_but" href="{% url 'main:rooms' %}">Помещения </a>
					</li>
					<li class="nav-item">
						<a class="nav-link left_but" href="{% url 'main:reservation' %}">Забронировать </a>
					</li>
				</ul>
			</div>
			<div class="log-block">
				<ul class="nav mr-auto ">
					{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle right_but"
						data-toggle="dropdown" href="#"
						role="button" aria-haspopup="true"
						aria-expanded="false">
						{% if user.first_name or user.last_name %}
							{% if user.first_name %} {{user.first_name}} {%endif%}
							{% if user.last_name %} {{user.last_name}} {%endif%}
						{% else %} {{user.username}} {%endif%}
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'main:profile_change' %}">
							Редактировать</a>
							<a class="dropdown-item" href="{% url 'main:logout' %}">
							Выйти</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link right_but" href="{% url 'main:register' %}">Регистрация</a>
					</li>
					<li class="nav-item"><a class="nav-link right_but"
					href="{% url 'main:login' %}">Вход</a> </li>
					{% endif %}
				</ul>
			</div>
		</header>
			{% bootstrap_messages %}
			{% block content %}
			{% endblock %}
	</body>	
</html>