{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
<div class="container" style="height: 100%;">
<div class="row" style="height: 100%;">
	<form class="logoform" action="{% url 'main:password_reset' %}" method="post">
		<p style="text-align: center;">Укажите ваш <span style="font-weight: bolder;">логин</span></p>
		<input class="dj_in" type="text" placeholder="Введите логин..." autocomplete="off" name="q">
		{% csrf_token %}
		{% buttons submit='Далее' %}
			<a style ="	float: right;" href="{% url 'main:login' %}"> Отмена &nbsp;</a>
		{% endbuttons %}

	</form>
</div>
</div>
{% endblock %}